.react-calendar {
    background: transparent;
    border: none !important;
    width: 80%;
    /* font-size:'28px'; */
    margin: 0 auto;
    max-width: 100%;
    /* color: #222;
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* line-height: 1.125em; */
  }
  
  /* .react-calendar button {
     
    
      border-radius: 10px;
      
  } */
  
  .react-calendar abbr {
    color: black !important;
  }
  /* .react-calendar abbr:hover{
      color:white !important;
  } */
  .react-calendar button:hover {
    border-radius:'40px';
  }
  .react-calendar__viewContainer {
    /* font-size:24px; */
  }
  
  .react-calendar__navigation {
    display: flex !important;
    justify-content: center !important;
  }
  
  .react-calendar__navigation__label {
    flex-grow: 0!important;
    width:80%
  }
  
  .react-calendar__navigation button {
    min-width: 44px;
    font-size: 30px;
    /* font-weight: 600; */
    background-color: #e1efb0;
  }
  .react-calendar__navigation__prev-button {
    margin-bottom: 2px;
  }
  .react-calendar__navigation__next-button {
    margin-bottom: 2px;
  }
  .react-calendar__navigation__prev2-button {
    display: none;
  }
  .react-calendar__navigation__next2-button {
    display: none;
  }
  
  .react-calendar__navigation button[disabled] {
    background-color: transparent;
    font-weight: bold;
  }
  
  abbr[title] {
    text-decoration: none;
  }
  /* .react-calendar__month-view__days__day--weekend {
      color: #d10000;
     } */
  /* .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 6px;
  } */
  /* .react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
  } */
  
  .react-calendar__tile {
    max-width: 100% !important;
    padding: 10px !important
  }
  /* 
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
  } */
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
  }
  .react-calendar__tile--active {
    background: #e4f2e8;
    border-radius: 6px;
    font-weight: bold;
    color: #1b727e;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #e4f2e8;
    color: #1b727e;
  }
  /* .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
  }
  .react-calendar__tile--range {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 0;
  }
  .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #6f48eb;
    color: white;
  }
  .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #6f48eb;
    color: white;
  } */
  
  /* .react-calendar__month-view__weekdays{
      display: flex;
      justify-content: space-between;
  }
  .react-calendar__month-view__weekdays__weekday {
      flex: 0 0 5.50% !important;
      overflow: auto !important;
  } */
  
  /* .react-calendar__month-view__days{
    justify-content: space-between;
  }
  /* .react-calendar__month-view__days__day{
    flex: 0 0 14.50% !important;
  } */ 
  
  .react-calendar__month-view__days__day abbr {
    color: #637381 !important;
  }